
body{font-family: verdana}
.phpdarkcoding{width: 900px;margin: 0 auto; background: #ddd;}
.headeroption, .footeroption{background: #444;color: #fff; text-align: center;padding: 20px;}
.headeroption h2, .footeroption h2{margin: 0}
.mainoption{min-height: 420px;padding: 20px}
.contentoption{min-height: 100px;padding: 20px; width: 100%;}
.member_addition{ max-width: 400px; margin: 0 auto; }
.message{margin-top: 10px;}


input{width: 300px; margin: 0 auto; height: 60px; font-size: 18px;}

.warning{font-size: 18px; color: red;}
.success{font-size: 18px; color: green;}
img{width:150px; height: 170px; top: 100px; left: 100px; }
.message{margin:0 auto;}
.back{
    text-decoration: none;
    border: 1px solid black;
    padding: 6px;
    background: goldenrod;
    color: #fff;
    margin: 18px;
}
.floatleft{float: left}
.floatright{float: right}
